{% extends 'base.html' %}
{% load static %}
{% block title %}Materiale{% endblock %}

{% block content %}
<div class = usefull_websites>

	<style>
		a{
			display : block;
			font-size: 18px;
			text-decoration: underline;
			color: black;
			display: inline-block;
				
		}
	</style>

	<a href="https://kilonova.ro/" target="_blank">Kilonova.ro</a><br>
	<a href="https://pbinfo.ro" target="_blank">Pbinfo.ro</a><br>
	<a href="https://infoarena.ro/" target="_blank">Infoarena.ro</a><br>
	<a href="https://solinfo.ro" target="_blank">Solinfo.ro </a> (solutii pbinfo)<br>
	<a href="https://leetcode.com/" target="_blank">LeetCode</a> (good practice website)<br>
	<a href="https://cses.fi/problemset/" target="_blank">Cses.fi </a> (good practice website)<br>
	<a href="https://usaco.guide/" target="_blank">Usaco Guide </a> (explicații si articole foarte bune)<br>
	<a href="https://cp-algorithms.com/" target="_blank">Cp Algorithms</a> (explicații si articole foarte bune)<br>
	<a href="https://roadmap.sh/" target="_blank">Road Map SH</a> (Developer Roadmaps)<br>
	<a href="https://open.kattis.com/problems" target="_blank">Kattis </a><br>
	<a href="https://codeforces.com/" target="_blank">Codeforces</a>	<br>
	<a href="https://en.cppreference.com/w/" target="_blank">C++ refference </a> (Whole C++ explained)<br>
	<a href="https://crackmes.one/" target="_blank" >crackmes.one </a> (Reverse Engineering)<br>
	<a href="https://juliagraphs.org/Graphs.jl/stable/advanced/experimental/" target="_blank" >
		juliagraphs </a><br>
	<a href="https://www.sepi.ro/articole" target="_blank" >sepi.ro </a><br>
	<a href="https://csacademy.com/app/graph_editor/" target="_blank" >Graph Editor </a><br>
	
		
	</div>

<hr>

<footer>
	<div class="left-content">
		<p>Website under development</p>
		<p>Copyright© 2024 Gaspar Andrei</p>
	</div>
</footer>
{% endblock %}