{% extends 'base.html' %}

{% block title %}Master{% endblock %}

{% block content %}

<div class="content_conctact">

<div class="contact-info">
        <a href="https://www.instagram.com/andreigaspar04" target="_blank" style="color: black;font-size: 25px;">Instagram</a><br>
        <a href="https://discord.gg/v8rM7dh9" target="_blank" style="color: black;font-size: 25px;">Discord</a><br>
		<a href="https://github.com/sSlepa" target="_blank" style="color: black;font-size: 25px;">Github</a>
</div>

</div>

<hr>
	
<footer>
    <div class="left-content">
        <p>Website under development</p>
        <p>Copyright© 2024 Gaspar Andrei</p>
    </div>
</footer>
{% endblock %}

